# DATABASE CONFIGURATION
DB_HOST=localhost
DB_NAME=ziipvet
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

# SECURITY CONFIGURATION
JWT_SECRET=sua_chave_secreta_aqui_projeto_ziipvet_2026

# APP CONFIGURATION
URL_BASE=http://localhost:8000/
APP_ENV=local # local, production
